    <!-- content -->
    <div class = "container" id = "containerMargin">
          <div class="alert alert-success centerText total" id="checkout-price" tabindex="0">
            <!-- Cart Total: $50 -->
          </div>
          <div class="general-center">
            <button type="button" class="btn btn-warning" id="checkout" tabindex="0">Checkout</button>
          </div>
          
    </div>
   
    <!-- content -->
    
  <script type="module" src="../scripts/cartMain.js"></script>
  </body>
</html>
