 <body id ="body">
    <!-- content -->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Testimonial Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Testimonial Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Testimonial Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <img src="images/water.jpeg" alt="" class ="caroimage">
            <div class="container">
              <div class="carousel-caption text-start">
                <h1 tabindex="0">I bought a pair of Christmas socks for the holidays, 
                    they are Coziest socks I've ever worn and I'm supporting small businesses at the same time!</h1>
                <p tabindex="0">- Jane, 22, Palm Beach, Florida</p>
                <p><a class="btn btn-lg btn-warning" href="views/buy.html">Shop Today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <img src="images/cliff.jpeg" alt="" class ="caroimage">
            <div class="container">
              <div class="carousel-caption">
                <h1 tabindex="0">The black and red polka dot socks go with every outfit I own, shipping was lightning fast too!</h1>
                <p tabindex="0">James, 17, Tuscon, Arizona</p>
                <p><a class="btn btn-lg btn-warning" href="views/buy.html">Learn For Yourself</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <img src="images/tree.jpeg" alt="" class ="caroimage">
            <div class="container">
              <div class="carousel-caption text-end">
                <h1 tabindex="0">The only sock supplier I trust to keep up with the trends!</h1>
                <p tabindex="0">Arianna, 29, Bay Area, California </p>
                <p><a class="btn btn-lg btn-warning" href="views/buy.html">Browse Our Socks</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" tabindex="0">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next" tabindex="0">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <h1 class ="centerText" tabindex="0">Welcome To Socks Topic🧦 </h1>
    <h2 class ="centerText" id="testim" tabindex="0">Our mission is to provide high quality📈, low priced📉, trendy socks for you,
        while at the same time empowering local and small businesses with a platform to sell their socks.
    </h2>
    
    <!-- content -->
      <script src="scripts/indexMain.js" type="module"></script>
</body>