/* gives margin to navbar so that the socks and navbar are not too close */
#navbar-margin {
    margin-top: 5%;
}

/* universal text centerer */
.centerText {
    text-align: center;
}

/* universal center of content */
.general-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* size of sock image on image page */
.indexSockImage {
    /* height: 40%;
    width: 100%; */
   height: 20rem;
   width: 20rem;
}

.indexSockImage:hover {
    opacity: 70%;
    /* height: 70%;
    width: 75%; */
}

.card {
    /* width: 18rem;
    height: 30rem; */
    margin-bottom: 70px;
}